<!DOCTYPE html><!--[if lte IE 7]><html id="ie" class="no-js lt-ie10 lt-ie9 lt-ie8" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]--><!--[if IE 8]><html id="ie8" class="no-js lt-ie10 lt-ie9" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]--><!--[if IE 9]><html id="ie9" class="no-js lt-ie10" lang="en" xmlns="http://www.w3.org/1999/xhtml"><![endif]--><!--[if gt IE 9]><!-->
<html lang="en" class="no-js" xmlns="http://www.w3.org/1999/xhtml">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <link rel="dns-prefetch" href="//video-transcripts.findlaw.com"/>
        <link rel="dns-prefetch" href="//ajax.googleapis.com"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width"/>
        <meta name="robots" content="noindex, follow"/>
        <link rel="stylesheet" href="../css/landing-page.css"/>
        <link href="https://fonts.googleapis.com/css?family=Archivo+Black|Archivo+Narrow:700|Merriweather:700|Open+Sans|Roboto:400,700|Work+Sans:500" rel="stylesheet"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js">//</script>
        <!--[if lt IE 9]> <script src="http://video-transcripts.findlaw.com/includes/scripts/html5Shiv-3.6.2.js"></script> <![endif]--> 
        <!-- <#assign SEMFirmNameAlt = " - ${site.data.SEMFirmNameAlt}"> <#if site.data.SEMFirmNameAlt = ""> <#assign SEMFirmNameAlt = ""> </#if> --> 
    </head>
    <body class="design ${page.ID} landing-page-flex">
        <div class="header-page-wrap">
            <div class="container-header-page">
                <header class="header-page">
                    <a href="/" class="brand">
                        <img src="http://gm2lb.firmsitepreview.com/design/images/brand.png" alt="" class="brand-image"/>
                    </a>
                    <div class="cta">
                        <div class="cta-text">
                            <!-- <div id="PPCPhoneCallToAction-Estate-Planning-Landing-Page_ppc_lp" fsp="design"/> -->
                            <p>Call</p>
                        </div>
                        <div class="cta-phone"> 217-718-5487</div>
                    </div>
                </header>
            </div>
        </div>
        <div class="banner-wrap-outer">
            <div class="banner-wrap">
                <div class="container-banner">
                    <div class="banner">
                        <h1 class="page-title">
                            <!-- <div id="FSPpageTitle" fsp="pageTitle"/> -->
                            Do You Know Your Bankruptcy Options?
                        </h1>
                        <div class="content-1">
                            <!-- <div id="content-1" fsp="editor" scope="page"/> -->
                            <p>Bankruptcy is not a one-size-fits-all solution. Bankruptcy allows for a number of approaches depending on your unique circumstances.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-colums-wrap">
            <div class="container-columns">
                <div class="container-column-main">
                    <div class="column-main" role="main">
                        <article class="content">
                            <!-- <div id="FSPcontent" fsp="content"/> -->
                            <h2>Let Us Help You Choose Wisely</h2>
                            <p>At Michael J. Logan, LTD., we put more than 30 years of experience to work on your bankruptcy matter. That means we understand the law, how it works, and what developing trends are available that may best help you in your situation.</p>
                            <p>Experience means:</p>
                            <ul>
                                <li>Helping you understand the differences between Chapter 7 bankruptcy and Chapter 13 bankruptcy.</li>
                                <li>Helping you see how different bankruptcy options offer you different strategies for managing your debt and regaining your financial freedom</li>
                                <li>Helping you choose wisely even when the bankruptcy process can seem confusing Link Color Hover Color Active Color Visited Color</li>
                            </ul>
                        </article>
                    </div>
                </div>
                <div class="column-side" role="complementary">
                    <div class="short-form-ppc">
                        <h4 class="title-ppc">
                            <!-- <div id="PPCIntakeCallToAction-Estate-Planning-Landing-Page_ppc_lp" fsp="design"/> -->
                            How Can We Help You?
                        </h4>
                        <!-- <div id="Short-Form-PPC" fsp="design"/> -->
                        <div id="containerIntakeFormShortAutofill">
                    <script type="text/javascript" src="http://video-transcripts.findlaw.com/includes/scripts/combined-intake-form.js"> </script>
                    <p><strong>Bold</strong> labels are required.</p>
                    <form action="/cgi-bin/emailservice.cgi" method="post" name="intakeFormShortAutofill" id="intakeFormShortAutofill" class="formAutoFill">
                        <input name="serverTime" type="hidden" value="" />
                        <input type="hidden" name="SubscriptionID" value="" />
                        <input type="hidden" name="email_subject" value="" />
                        <input type="hidden" name="guid" value="" />
                        <input type="hidden" name="wld_id" value="" />
                        <input type="hidden" name="thankyouPage" value="" />
                        <fieldset>
                            <legend><span>Contact Information</span></legend>
                            <label for="intakeFormShortName">Name</label>
                            <div class="formHighlight">
                                <input type="text" name="Name|at:name||Please enter your name." id="intakeFormShortName" title="Name" />
                            </div>
                            <label for="intakeFormShortEmail"><strong>E-mail Address</strong></label>
                            <label for="intakeFormShortEmail" class="formHide"><strong>Please enter a valid e-mail address.</strong></label>
                            <div class="formHighlight">
                                <input type="text" name="E-mail Address|at:email|r|Please enter a valid e-mail address." id="intakeFormShortEmail" class="validate email" title="E-mail Address" />
                            </div>
                            <label for="intakeFormShortPhone">Phone</label>
                            <div class="formHighlight">
                                <input type="text" name="Phone|at:phone||Please enter a valid phone number. You may use 0-9, spaces, and the ( ) - + characters." id="intakeFormShortPhone" title="Phone" />
                            </div>
                            <label for="intakeFormShortMessage">Brief description of your legal issue</label>
                            <div class="formHighlight">
                                <textarea name="Brief description of your legal issue|at:message||Please describe your legal issue." id="intakeFormShortMessage" title="Brief description of your legal issue" rows="4" cols="15"></textarea>
                            </div>
                            <div class="formCheck">
                                <label for="intakeFormShortDisclaimerCheck" class="formHide"><strong>Please verify that you have read the disclaimer.</strong></label>
                                <label for="intakeFormShortDisclaimerCheck">
                                    <input type="checkbox" name="Read disclaimer:||r|Please verify that you have read the disclaimer." id="intakeFormShortDisclaimerCheck" class="validate checkbox" value="yes" /><strong>I have read the <span>disclaimer.</span></strong>
                                </label>
                                <strong><a class="intakeFormShortDisclaimerLink" href="/Disclaimer.shtml">disclaimer</a>.</strong>
                            </div>
                            <input class="intakeFormHiddenInput" type="hidden" id="checkboxDisclaimerIntakeFormShort" name="cgi|checkboxDisclaimerIntakeFormShort" value="Read disclaimer:||r|Please verify that you have read the disclaimer." />
                            <div id="intakeFormShortDisclaimer">
                                <div>
                                    <p>The use of the Internet or this form for communication with the firm or any individual member of the firm does not establish an attorney-client relationship. Confidential or time-sensitive information should not be sent through this form.</p>
                                    <a href="#intakeFormShortAutofillDisclaimerCheck" rel="nofollow">close</a>
                                </div>
                            </div>
                        </fieldset>
                        <p class="intakeFormShortPrivacy">
                            <a href="/Privacy-Policy.shtml">Privacy Policy</a>
                        </p>
                        <input type="submit"  name="Submit" value="Submit" class="submit over" alt="Submit" id="intakeFormShortAutofillSubmit" />
                    </form>
                </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-wrap">
            <div class="container-flex">
                <div class="flex">
                    <div class="flex-widget primary">
                        <div class="content-2">
                            <!-- <div id="content-2" fsp="editor" scope="page"/> -->
                            <h3>Chapter 7 Bankruptcy</h3>
                            <p>We can assist you in determining if a Chapter 7 bankruptcy can help you eliminate burdensome credit credit and medical debt.</p>  
                        </div>
                    </div>
                    <div class="flex-widget secondary">
                        <div class="content-3">
                            <!-- <div id="content-3" fsp="editor" scope="page"/> -->
                            <h3>Chapter 13 Bankruptcy</h3>
                            <p>Do you need to save your home? Your car? A Chapter 13 bankruptcy may be your best strategy. A Chapter 13 bankruptcy allows you to catch up on payments you missed.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-secondary-wrap">
            <div class="container-content-secondary">
                <div class="image-holder">
                    <img src="../images/ppc-lower-content.jpg" alt=""/>
                </div>
                <div class="content-secondary">
                    <div class="content-5">
                        <!-- <div id="content-5" fsp="editor" scope="page"/> -->
                        <h3>Personalized Bankruptcy Representation</h3>

                        <p>You will know your attorney when you work with us here at the law firm of Michael J. Logan, LTD. It is our philosophy that effective bankruptcy is best delivered by knowing your unique circumstances. We do not believe in one-size-fits-all legal solutions because there is no such thing as a one-size-fits-all client, especially in bankruptcy.</p>
                        <p><strong>Schedule a free initial consultation by calling us today: 217-718-5487</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact-info-wrap">
            <div class="container-contact-info">
                <div class="contact-info"></div>                
            </div>
        </div>
        <div class="footer-wrap">
            <div class="container-footer-page">
                <footer class="footer-page">
                    <section class="fine-print clearfix">
                        <p class="copyright">© 
                            <!--#config timefmt="%Y" -->
                            <!--#echo var="DATE_LOCAL" --> by ${site.data.firmName}<#if !site.data.firmName?ends_with(".")>.</#if> All rights reserved. 
                            <a href="/About/">About Us</a> | 
                            <a href="/Privacy-Policy.shtml">Privacy Policy</a> | 
                            <a href="/Disclaimer.shtml">Disclaimer</a>
                        </p>
                    </section>
                </footer>
            </div>
        </div>
        <!--[if lt IE 9]> <script src="http://video-transcripts.findlaw.com/includes/scripts/respond-1.1.0.js"></script> <![endif]-->
        <script>var highlightOptions = { pageID: '${page.ID}', pageSection: '${page.section}', pageSectionTop: '${page.sectionTop}' }</script>
        <script src="http://video-transcripts.findlaw.com/includes/scripts/flDefault-1.0.0.js">//</script>
        <script> 
        $('#intakeFormShortAutofillSubmit').attr('value','Contact Us Today');
         </script>
    </body>
</html>